<h1>stories</h1>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">

            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card blue-grey darken-1 center-align">
                <div class="card-content white-text" style="padding-bottom: 0px;">
                    <span class="card-title">{{title}}</span>
                    <p>{{stripTags (truncate body 150)}}</p>
                </div>
                <br>
                <div class="chip" style="margin-bottom:15px;">
                    <img src="{{user.image}}">
                    <a href="/stories/user/{{user._id}}">{{user.fullName}}</a>
                </div>
                <div class="card-action center">
                    <a href='/stories/{{_id}}' class="waves-effect waves-light btn">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <p>You have not created any stories</p>
    {{/each}}
</div>